* text=auto

/.github export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lowest.json export-ignore
/composer.lowest.lock export-ignore
/phpunit.xml export-ignore
/Dockerfile export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/docker-compose.yml export-ignore
/pint.json export-ignore
