<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticProperties="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         cacheResult="true"
         colors="false"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd">
    <php>
        <server name="SCRIBE_TESTS" value="1" />
    </php>
    <testsuites>
        <testsuite name="Non-Unit Tests">
            <directory>tests/GenerateDocumentation</directory>
            <directory>tests/Strategies</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">camel/</directory>
        </include>
        <exclude>
            <file>src/ScribeServiceProvider.php</file>
            <file>src/Tools/ConfigDiffer.php</file>
            <file>src/Commands/DiffConfig.php</file>
        </exclude>
    </source>
</phpunit>
