<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheResult="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <file>src/ScribeServiceProvider.php</file>
            <file>resources/views/pastel.blade.php</file>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Full Test">
            <file>tests/GenerateDocumentationTest.php</file>
        </testsuite>
        <testsuite name="Strategies">
            <directory>tests/Strategies</directory>
        </testsuite>
        <testsuite name="RouteMatcher Tests">
            <file>tests/Unit/RouteMatcherDingoTest.php</file>
            <file>tests/Unit/RouteMatcherTest.php</file>
        </testsuite>
        <testsuite name="Unit Tests 1">
            <file>tests/Unit/GeneratorTest.php</file>
            <file>tests/Unit/AnnotationParserTest.php</file>
            <file>tests/Unit/GeneratorPluginSystemTest.php</file>
        </testsuite>
        <testsuite name="Unit Tests 2">
            <file>tests/Unit/OpenAPISpecWriterTest.php</file>
            <file>tests/Unit/PostmanCollectionWriterTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
